.memoryBoard {
  display: flex;
  margin-top: 50px;
}

.memory-game {
  width: 800px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.hint {
  color: white;
  font-size: 70px;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
}
#scoreHolder {
  height: 150px;
  width: 150px;
  background-color: #7c492e;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: 23px;
}

.resetButton {
  background-color: inherit;
  margin-top: 20px;
  border: none;
  /* height: 60px;
  width: 60px; */
  font-size: 15px;
  color: white;
}
.resetButton:hover {
  cursor: pointer;
}
.winning {
  margin-top: 20px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
